// body
body {
    padding: 0 10%;
}

// header and footer
header, footer {
    .hidden {
        display: none;
    }
}

// products

.bigStar {
    width: 5%;
}

//product

.smallStar {
    width: 1.5%;
}

.productInfo {
    display: flex;

    p {
        margin-right: 1em;
    }

    figure {
        p {
            margin: 0
        }
    }
}

.underHeaderOfProduct {
    display: flex;

    p {
        margin-right: 1em;
        margin-bottom: 0;
    }
}

.productMargin {
    margin-right: 1em;
    margin-bottom: 1em;
}

h2 {
    padding-top: 1em
}

#darkmode-button-header-id:hover, #darkmode-button-footer-id:hover {
    cursor: pointer;
}

.cart-things {
    .cart-body {
        border: 1px solid black;
        border-radius: 10px;

        margin-bottom: 1em;
        padding: 1em;

        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .cart-image{
        width: 100px;
    }

    .cart-cancel{
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: baseline;

        a{
            height: fit-content;
            border: 0;
        }
    }

    .cart-info{
        display: flex;

        .cart-name{
            margin-left: 1em;
        }
    }
}

.card {
    min-height: 95%;
}
